.watchdog_body {
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 15px; 
    font-family: Roboto, Arial, sans-serif;
}

.watchdog_header_section {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2em;
    font-style: italic; 
    text-align: center;
    font-weight: bold;
}

.watchdog_para {
    margin-top: 10px;
    margin-bottom: 10px;
}